<div class="card mb-2 mt-2" id="post_<%= post.id %>_edit">
	<div class="card-header">
		<%= link_to post.title, post_path(post) %>
		<div class="float-end">
			<%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary', data: { turbo_stream: true } %>
			<%= link_to 'Delete', post_path(post), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Do you really want to delete this post?' } %>
		</div>
	</div>
	<div class="card-body">
		<%= post.description %>
	</div>
</div>