<div class="main">
	<div class="header text-center">
		<h1>Blogs</h1>	
	</div>
	<div class="container blogs">
		<%= link_to 'Create Post', new_post_path, class: 'btn btn-primary' %>
		<% if @posts.present? %>
			<% @posts.each do |post| %>
				<div class="card mb-2 mt-2">
					<div class="card-header">
						<div>
							<%= link_to post.title, post_path(post) %>
						</div>
						<div class="float-end">
							<%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary' %>
							<%= link_to 'Delete', post_path(post), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Do you really want to delete this post?' } %>
						</div>
					</div>
					<div class="card-body">
						<%= post.description %>
					</div>
				</div>
			<% end %>
		<% else %>
			<h2>There are currently no posts!!</h2>
		<% end %>
	</div>
</div>