<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <% if flash[:notice] %>
        <p class="alert bg-success text-light m-0"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>        
        <p class="alert bg-danger text-light m-0"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
